
StarRiteGame_V0/Saved/Logs/StarRiteGame_V0.log
StarRiteGame_V0/Saved/Config/Windows/Engine.ini
StarRiteGame_V0/Saved/Config/Windows/EditorPerProjectUserSettings.ini
StarRiteGame_V0/Saved/Config/CrashReportClient/UE4CC-Windows-3A343CE7480E4076DD35499C9C42E015/CrashReportClient.ini
StarRiteGame_V0/Saved/Config/CrashReportClient/UE4CC-Windows-1D6732F14A804D7AC970AFAF49D41254/CrashReportClient.ini
StarRiteGame_V0/Intermediate/CachedAssetRegistry.bin
